body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 10px;
}
span{
    color: blue;
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: right;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

section {
    padding: 20px;
}

h2 {
    color: #333;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
}

.gallery-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px 8px 0 0;
}

.menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    padding: 3px;
    margin-bottom: 10px;
}